<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <title>创业基地</title>
  <link    th:href="@{/css/Fyoucediv.css}"   href="/static/css/Fyoucediv.css" rel="stylesheet" type="text/css" media="all" />
  <link  th:href="@{/css/forum.css}"   href="/static/css/forum.css" rel="stylesheet" type="text/css" media="all" />
  <link   th:href="@{/css/bootstrap.css}"  href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <script   th:src="@{/js/jquery.js}"  type="text/javascript" src="/static/js/jquery.js"></script>
  <script  th:src="@{/js/bootstrap.js}"   type="text/javascript" src="/static/js/bootstrap.js"></script>
</head>
<body >
<table width="1550" border="0" cellspacing="0" cellpadding="0">
  <tbody>

  <tr height="80px;" bgcolor=#4383EF>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" >
      <tbody>
      <tr style="color: white;" align="center">
        <td width=450px;><img src="/images/img/logo.PNG" width="337" height="57" /></td>
        <td valign="bottom"><font size=+2><a href="/user/cyxt">创业学堂</a></font></td>
        <td valign="bottom"><font size=+2><a href="/user/forum">论坛交流</a></font></td>
        <td valign="bottom"><font size=+2><a href="/user/probability">概率分析</a></font></td>
        <td valign="bottom"><font size=+2><a href="/user/createTeam">实训基地</a></font></td>
        <td valign="bottom"><font size=+2><a href="/user/zsjm">招商加盟</a></font></td>
      </tr>
      </tbody>
    </table></td>
  </tr>
  <tr>
    <td height="20px;"></td>
  </tr>
  <tr>
    <td background="/images/img/back.PNG" height="637px"><div align="center" style="margin: -50px 0px 0px 0px">
      <table width="30%" border="0" cellspacing="0" cellpadding="0" >
        <tbody >
        <tr>
          <td height="100px" colspan="2" align="center"><font color="white" size="+3" >欢迎来到理想之行的实训基地</font></td>
        </tr>
        <tr>
          <td height="40px"  colspan="2"><font color="white">尊敬的高创团队，您的信息如下显示：</font></td>
        </tr>
        <tr>
          <td height="30px" ><font color="white">团队名称：</font>
            <input id="tname" name="tname" th:value="${data.tname}" value="高创团队"></td>
          <td rowspan="4" width="190" align="center"><img id="show" width="155px" height="169px" th:src=@{'/images/'+${data.tlogo}} src="/images/img/mlogo.png" alt="logo"></td>
        </tr>
        <tr>
          <td  height="30px"><font color="white">团队人数：</font>
            <Select id="tnum" name="tnum">
              <option value ="1">1</option>
              <option value ="2">2</option>
              <option value ="3">3</option>
              <option value ="4">4</option>
              <option value ="5" selected="selected">5</option>
            </Select></td>
        </tr>
        <tr>
          <td height="30px" ><font color="white">启动资金：</font>
            <input id="tprice" name="tprice" th:value="${price}" value="50000"></td>
        </tr>
        <tr>
          <td height="30px"><font color="white">行业方向：</font>
            <input id="thy" name="thy" th:value="${data.thy}" value="电子商务"></td>
        </tr>
        <tr>
          <td height="40px" colspan="2" ><font color="white">法人姓名：</font>
            <input id="tleader" name="tleader" th:value="${data.tleader}" value="高珍"></td>
        </tr>
        <tr>
          <td height="40px" colspan="2"><font color="white">联系方式：</font>
            <input id="tphone" name="tphone" th:value="${data.tphone}" value="13933442233"></td>
        </tr>
        <tr>
          <td height="40px" colspan="2"><font color="white">法人身份证：</font>
            <input id="tcard" name="tcard" th:value="${data.tcard}" value="330108199000101378" ></td>
        </tr>
        <div class="box_relative1">
          <input id="titleFile" type="file"  onchange="changepic(this)"  >
        </div>
        </tbody>

      </table>
    </div></td>
  </tr>
  </tbody>
</table>
<div class="box_relative2"> <a onclick="goUpload()"><img src="/images/img/arrow2.png" width="150px" height="150px"> </a></div>
</body>
<style>
  a:link {
    text-decoration: none;
    color: gray
  }
  a:active {
    text-decoration: blink
  }
  a:hover {
    text-decoration: none;
    color: red
  }
  a:visited {
    text-decoration: none;
    color: white
  }
  .box_relative1 {
    position: absolute;
    left: 865px;
    top: 500px;
  }
  .box_relative2 {
    position: absolute;
    left: 1350px;
    top: 350px;
    opacity: 0.8;
  }
</style>
<script type="text/javascript">
    function changepic() {
        var reads = new FileReader();
        f = document.getElementById('titleFile').files[0];
        reads.readAsDataURL(f);
        reads.onload = function(e) {
            document.getElementById('show').src = this.result;
        };
    }
    function goUpload() {
        var formData=new FormData();
        var img_file=document.getElementById("titleFile");
        var titleFile=img_file.files[0];
        var tname=$("#tname").val();
        var tnum=$("#tnum").val();
        var tprice=$("#tprice").val();
        var thy=$("#thy").val();
        var tleader=$("#tleader").val();
        var tphone=$("#tphone").val();
        var tcard=$("#tcard").val();
        formData.append("tname",tname);
        formData.append("tnum",tnum);
        formData.append("tprice",tprice);
        formData.append("thy",thy);
        formData.append("tleader",tleader);
        formData.append("tphone",tphone);
        formData.append("tcard",tcard);
        formData.append("imgGo",titleFile);
        $.ajax({
            url: "/user/goCreateTeam",
            type: "post",
            data:formData,
            processData:false,
            contentType:false,
            success: function (data) {
                alert(data.msg);
                window.location.replace("/user/createShop");
            }
        });
    }
</script>
</html>