<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <title>创业基地</title>
  <link    th:href="@{/css/Fyoucediv.css}"   href="/static/css/Fyoucediv.css" rel="stylesheet" type="text/css" media="all" />
  <link  th:href="@{/css/forum.css}"   href="/static/css/forum.css" rel="stylesheet" type="text/css" media="all" />
  <link   th:href="@{/css/bootstrap.css}"  href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <script   th:src="@{/js/jquery.js}"  type="text/javascript" src="/static/js/jquery.js"></script>
  <script  th:src="@{/js/bootstrap.js}"   type="text/javascript" src="/static/js/bootstrap.js"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
    body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
  </style>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=gWg4D3GUDucxdmxynImC55jdMeSh84cT"></script>
</head>
<body >
<table width="1550" border="0" cellspacing="0" cellpadding="0" >
  <tbody>
  <tr height="80px;" bgcolor=#4383EF>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" >
      <tbody>
      <tr style="color: white;" align="center">
        <td width=450px;><img src="/images/img/logo.PNG" width="337" height="57" /></td>
        <td valign="bottom"><font size=+2><a href="/user/cyxt">创业学堂</a></font></td>
        <td valign="bottom"><font size=+2><a href="/user/forum">论坛交流</a></font></td>
        <td valign="bottom"><font size=+2><a href="/user/probability">概率分析</a></font></td>
        <td valign="bottom"><font size=+2><a href="/user/createTeam">实训基地</a></font></td>
        <td valign="bottom"><font size=+2><a href="/user/zsjm">招商加盟</a></font></td>
      </tr>
      </tbody>
    </table></td>
  </tr>
  <tr>
    <td height="20px;"></td>
  </tr>
  <tr>
    <td background="/images/img/back.PNG" height="637px"><div align="center" style="margin: -50px 0px 0px 0px">
      <table width="35%" border="0" cellspacing="0" cellpadding="0" >
        <tbody >
        <tr>
          <td height="50px" colspan="2" align="center"><font color="white" size="+3" >营业执照</font></td>
        </tr>
        <tr>
          <td height="40px"  colspan="2"><font color="white">办理地点：XX市XX区市场监督管理局</font>
            <font color="white" size="-2"><input type="button"  value="浏览地图" onClick="goShow()"></a></font></td>
        </tr>
        <tr >
          <td colspan=2><video width="auto" height="300" controls="controls">
            <source src="/images/img/movie.mp4" type="video/mp4" />
            <source src="movie.ogg" type="video/ogg" />
            <source src="movie.webm" type="video/webm" />
            </object>
          </video></td>
        </tr>
        <tr>
          <td height="50px" colspan="2"><input type="button" value="在线模拟">
            &nbsp;&nbsp;&nbsp;
            <input type="button" value="下载文件">
            &nbsp;&nbsp;&nbsp;
            <input type="button" value="执照代办"></td>
        </tr>
        <tr>
          <td height="40px" colspan="2" ><font color="white"> 推荐信息：</font></br>
            <font size="-1" color="white"> <a href="">1、公司法定代表人签署的《公司设立登记申请书》；</a></br>
              <a href="">2、自然人股东身份证及其复印件；</a> <a href="">3、住所使用证明；</a> <a href="">[了解更多]</a> </font></td>
        </tr>
        </tbody>
      </table>
    </div></td>
  </tr>
  </tbody>
</table>
<div class="box_relative2"> <a href="/user/simulation"><img src="/images/img/arrow2.png" width="150px" height="150px"> </a></div>
<div class="box_relative3"> <a href="/user/createShop"><img src="/images/img/arrow1.png" width="150px" height="150px"> </a></div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

  <div style="margin: 100px auto ;width: 400px;height: 400px" id="allmap">

  </div>
</div>
</body>

<style>
  a:link {
    text-decoration: none;
    color: gray
  }
  a:active {
    text-decoration: blink
  }
  a:hover {
    text-decoration: none;
    color: red
  }
  a:visited {
    text-decoration: none;
    color: white
  }
  .box_relative1 {
    position: absolute;
    left: 1104px;
    top: 480px;
  }
  .box_relative2 {
    position: absolute;
    left: 1350px;
    top: 350px;
    opacity: 0.8;
  }
  .box_relative3 {
    position: absolute;
    left: 20px;
    top: 350px;
    opacity: 0.8;
  }
</style>
<script type="text/javascript">
  function goShow() {
      $('#myModal').modal();
  }
</script>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("allmap");    // 创建Map实例
    map.centerAndZoom(new BMap.Point(11.5755710662,30.0132274402), 18);  // 初始化地图,设置中心点坐标和地图级别
    //添加地图类型控件
    map.addControl(new BMap.MapTypeControl({
        mapTypes:[
            BMAP_NORMAL_MAP,
            BMAP_HYBRID_MAP
        ]}));
    map.setCurrentCity("绍兴");          // 设置地图显示的城市 此项是必须设置的
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
</script>

</html>