<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <title>创业基地</title>
  <link    th:href="@{/css/Fyoucediv.css}"   href="/static/css/Fyoucediv.css" rel="stylesheet" type="text/css" media="all" />
  <link  th:href="@{/css/forum.css}"   href="/static/css/forum.css" rel="stylesheet" type="text/css" media="all" />
  <link   th:href="@{/css/bootstrap.css}"  href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <script   th:src="@{/js/jquery.js}"  type="text/javascript" src="/static/js/jquery.js"></script>
  <script  th:src="@{/js/bootstrap.js}"   type="text/javascript" src="/static/js/bootstrap.js"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
    body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
  </style>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=gWg4D3GUDucxdmxynImC55jdMeSh84cT"></script>
</head>
<body >
<table width="1550" border="0" cellspacing="0" cellpadding="0" >
  <tbody>
  <tr height="80px;" bgcolor=#4383EF>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" >
      <tbody>
      <tr style="color: white;" align="center">
        <td width=450px;><img src="/images/img/logo.PNG" width="337" height="57" /></td>
        <td valign="bottom"><font size=+2><a href="/user/cyxt">创业学堂</a></font></td>
        <td valign="bottom"><font size=+2><a href="/user/forum">论坛交流</a></font></td>
        <td valign="bottom"><font size=+2><a href="/user/probability">概率分析</a></font></td>
        <td valign="bottom"><font size=+2><a href="/user/createTeam">实训基地</a></font></td>
        <td valign="bottom"><font size=+2><a href="/user/zsjm">招商加盟</a></font></td>
      </tr>
      </tbody>
    </table></td>
  </tr>
  <tr>
    <td height="20px;"></td>
  </tr>
  <tr>
    <td background="/images/img/back.PNG" height="637px"><div align="center" style="margin: -50px 0px 0px 0px">
      <table width="35%" border="0" cellspacing="0" cellpadding="0" >
        <tbody >
        <tr>
          <td height="50px" colspan="3" align="center"><font color="white" size="+3" >商品选购</font></td>
        </tr>
        <tr>
          <td height="40px"  >
            <font color="white">行业选择：</font>
            <Select id="UserProv" name="" onChange="getCity()">
              <option value ="0">请选择行业:</option>
              <option value ="1">零售业</option>
              <option value ="2">服务业</option>
            </Select>
          <td height="30px"><font color="white">产品：</font>
            <select id="UserCity" name="city">
              <option VALUE="0">请选择产品</option>
            </select></td>
          <td><input id="" name="" onClick="xstsxx()"  value="查询" type="button"></td>
          </td>
        </tr>
        <tr style="width: 350px">

          <td colspan="3">
            <div id="tsxx" style="visibility: hidden">
              <a href="cyjd-5.html">1、图书 励志成功经典口才心理学 书籍大全集8册&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;￥58.70</a></br>
              <a href="">2、图书 全8册 处世哲学书 鬼谷子 墨菲定律 人性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;￥48.60</a></br>
              <a href="">3、图书 一看就停不下来的中国史 (京东定制版)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;￥29.80</a></br>
              <div align="right"><a href=""><font size=-2>浏览更多相关资讯</font></a>&nbsp;&nbsp;</div>
            </div>
          </td>

        </tr>

        <tr>
          <td height="40px" colspan="3" ><font color="white"> 市场行情：</font></br>
            <div id="schq" style="visibility: hidden">
              <img src="1.png" width="100%" height="250px;" alt="框架-百度指数接口">
            </div></td>
        </tr>


        </tbody>
      </table>
    </div></td>
  </tr>
  </tbody>
</table>

<div class="box_relative3"> <a href="/user/createLicense"><img src="/images/img/arrow1.png" width="150px" height="150px"> </a></div>
</body>
<style>
  a:link {
    text-decoration: none;
    color: gray
  }
  a:active {
    text-decoration: blink
  }
  a:hover {
    text-decoration: none;
    color: red
  }
  a:visited {
    text-decoration: none;
    color: white
  }
  .box_relative1 {
    position: absolute;
    left: 1104px;
    top: 480px;
  }
  .box_relative2 {
    position: absolute;
    left: 1350px;
    top: 350px;
    opacity: 0.8;
  }
  .box_relative3 {
    position: absolute;
    left: 20px;
    top: 350px;
    opacity: 0.8;
  }
</style>
<script>
    function xstsxx(){
        document.getElementById("tsxx").style.visibility="visible";
        document.getElementById("schq").style.visibility="visible";
    }
    var city = [
        ["图书", "t2", "t3", "t4"],
        ["家政", "清洁", "a3", "a4"]
    ];
    function getCity() {
        //获得省份下拉框的对象
        var sltProvince = document.getElementById("UserProv");
        //获得城市下拉框的对象
        var sltCity = document.getElementById("UserCity");
        //得到对应省份的城市数组
        var provinceCity = city[sltProvince.selectedIndex - 1];

        //清空城市下拉框，仅留提示选项
        sltCity.length = 1;

        //将城市数组中的值填充到城市下拉框中
        for (var i = 0; i < provinceCity.length; i++) {
            sltCity[i + 1] = new Option(provinceCity[i], provinceCity[i]);
        }
    }

</script>
</html>