<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <title>创业基地</title>
  <link    th:href="@{/css/Fyoucediv.css}"   href="/static/css/Fyoucediv.css" rel="stylesheet" type="text/css" media="all" />
  <link  th:href="@{/css/forum.css}"   href="/static/css/forum.css" rel="stylesheet" type="text/css" media="all" />
  <link   th:href="@{/css/bootstrap.css}"  href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <script   th:src="@{/js/jquery.js}"  type="text/javascript" src="/static/js/jquery.js"></script>
  <script  th:src="@{/js/bootstrap.js}"   type="text/javascript" src="/static/js/bootstrap.js"></script>
</head>
<title>创业基地</title>
<body >
<table width="1550" border="0" cellspacing="0" cellpadding="0">
  <tr height="80px;" bgcolor=#4383EF>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" >
          <tr style="color: white;" align="center">
            <td width=450px;><img src="/images/img/logo.PNG" width="337" height="57" /></td>
            <td valign="bottom"><font size=+2><a href="/user/cyxt">创业学堂</a></font></td>
            <td valign="bottom"><font size=+2><a href="/user/forum">论坛交流</a></font></td>
            <td valign="bottom"><font size=+2><a href="/user/probability">概率分析</a></font></td>
            <td valign="bottom"><font size=+2><a href="/user/createTeam">实训基地</a></font></td>
            <td valign="bottom"><font size=+2><a href="/user/zsjm">招商加盟</a></font></td>
          </tr>
      </table>
    </td>
  </tr>
</table>

<div>
<div style="position:absolute;left:150px;top:110px;z-index:1"><b>引创视频（4）</b></div>
<div style="background:#CCC;width:1000px;height:260px; opacity:0.5;position:absolute;left:150px;top:140px;z-index:1"></div>
<div style="position:absolute;left:160px;top:152px;z-index:1"><img src="/images/img/cyxtvideo.png"></div>
<div style="position:absolute;left:1125px;top:145px;z-index:1"><font size="-2">更多</font></div>
</div>

<div>
<div style="position:absolute;left:1180px;top:110px;z-index:1"><b>政策资讯（7）</b></div>
<div style="background:#CCC;width:330px;height:260px; opacity:0.5;position:absolute;left:1180px;top:140px;z-index:1"></div>
<div style="position:absolute;left:1200px;top:152px;z-index:1">
<font style="font-size:15px">
人社部：今年全国将签发统一电子社保...</br>
月薪过万占比：上北深位居前三,广州...</br>
天津滨海新区新地标名字公布："津沽...</br>
世园会纪念护照发布， 一本30元二十...</br>
国家卫健委：将建疫苗追溯体系 支持...</br>
日媒："隼鸟2号"在小行星击出陨石坑 ...</br>
85岁原子弹"功勋工人"用药困难迎转 ...</br>
樊大志任证监会党委委员、纪检监察组...</br>
郭台铭：太太反对我参选2020 已经离...</br>
奥迪白血病事件持续发酵：一汽奥迪尝...</br>
郭晶晶霍启刚三胎女儿已经一岁 公公...</br>
</font>
</div>
<div style="position:absolute;left:1480px;top:145px;z-index:1"><font size="-2">更多</font></div>
</div>


<div>
<div style="position:absolute;left:150px;top:420px;z-index:1"><b>图书推荐</b></div>
<div style="background:#CCC;width:1361px;height:315px; opacity:0.5;position:absolute;left:150px;top:450px;z-index:1"></div>
<div style="position:absolute;left:160px;top:462px;z-index:1"><img src="/images/img/cyxtphoto.png" ></div>
<div style="position:absolute;left:867px;top:475px;z-index:1"><font size="-2">更多</font></div>
<div style="position:absolute;left:1380px;top:550px;z-index:1"><img src="/images/img/arrow2.png" width="100px;"></div>
</div>

<div>
<div style="position:absolute;left:150px;top:785px;z-index:1"><b>创业规划文案[*成功的创业必然有一定的轨迹*]</b></div>
<div style="background:#CCC;width:1361px;height:270px; opacity:0.5;position:absolute;left:150px;top:810px;z-index:0"></div>
<div style="position:absolute;left:160px;top:820px;z-index:1"><img src="/images/img/cyxt-wa1.png" ></div>
<div style="position:absolute;left:700px;top:825px;z-index:1;width:790px;" ><font size="5"><b>新中式茶饮风口已至，网红城市西安会诞生下一个网红茶吗？</b></br>
　　目前，中国茶叶消费群体近5亿人，但随着主流消费群体的变换，人们对茶叶的消费需求也逐渐投射到"茶饮"领域。自台湾人90年代将粉末式...</font>
<hr size="1px" style="line-height:30px;"><b>三星：召回提供测评的所有&nbsp;Galaxy  Fold折叠屏手机    　　　漫威十年，"猫淘"闯关</br>1年卖200亿，手机界隐形大佬要赴科创板IPO　　　　　　工信部：不得利用"携号转网"实施恶性竞争行为</br>痛定思痛的苹果，2019会好吗？　　　　　　　　　　　&nbsp;&nbsp;&nbsp;三大电商血拼iPhone最低价 真实原因揭秘</br>再次降价 苹果求生欲有多强　　　　　　　　　　　　　　[浏览更多]</b>
</div>
</div>

<div style="height:1050px;"></div>


</body>
<style>
a:link {
	text-decoration: none;
	color: gray
}
a:active {
	text-decoration: blink
}
a:hover {
	text-decoration: none;
	color: red
}
a:visited {
	text-decoration: none;
	color: white
}
.box_relative1 {
	position: absolute;
	left: 865px;
	top: 500px;
}
.box_relative2 {
	position: absolute;
	left: 1350px;
	top: 350px;
	opacity: 0.8;
}
</style>
</html>