<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="UTF-8">
		<title>发帖</title>
		<link   th:href="@{/css/bootstrap.css}"  href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link  th:href="@{/css/bootstrap-theme.css}"   href="/static/css/forum.css" rel="stylesheet" type="text/css" media="all" />
		<script   th:src="@{/js/jquery.js}"  type="text/javascript" src="/static/js/jquery.js"></script>
		<script  th:src="@{/js/bootstrap.js}"   type="text/javascript" src="/static/js/bootstrap.js"></script>
	</head>

	<body>
	<form method=post action="" name="form1" enctype="multipart/form-data">
			<div align="center" style="margin-top: 50px;">
				<h1>理想之行 <small>论坛</small></h1>
			</div>
				<div class="row" align="center">
					<div class="col-md-3"></div>
					<div class="col-md-3" >
						<div class="container-fluid" style="width: 300px;margin-top: 30px;">
							<!--titleName->文章名称-->
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1 "><span class=" glyphicon glyphicon-pencil"></span></span>
								<input id="title" type="text" class="form-control" placeholder="请输入文章主题" aria-describedby="basic-addon1">
							</div>
							<!--titleType->文章类别-->
							<div class="input-group" style="margin-top: 10px;">
								<span class="input-group-addon"><span class="glyphicon glyphicon-tags"></span></span>
								<input id="tips" type="text" class="form-control" placeholder="请输入文章类别">
							</div>
							<!--titleFile->上传-->
							<div class="input-group" style="margin-top: 10px;">
								<span class="btn btn-default  fileinput-button  ">
								<span>选择上传文件</span>
								<input id="titleFile" class="filepath" onchange="changepic(this)" type="file">
								</span>
								<div><img src="" id="show" class="maximg"></div>
							</div>
						</div>
					</div>
					<div class="col-md-3" >
						<!--titleConnent->文章内容    titleDate->文章日期-->
						<div class="input-group container-fluid" style="width: 300px;margin-top: 30px;">
							<textarea id="content" type="text" class="form-control" placeholder="请输入您的创意" style="width:270px;height: 120px;max-width: 270px;;min-width: 270px;max-height: 325px;" multiple="multiple" ></textarea>
						</div>
						<input id="titleDate" type="datetime" name='tDate'  placeholder="用户评论的日期" style="display:none">
						<button type="button" class="btn btn-primary" style="margin-top: 10px;width:270px" onclick="check()">分享创意</button>
					</div>
					<div class="col-md-3"></div>
				</div>
		</form>
	</body>

</html>
<style>
	.fileinput-button {
		position: relative;
		display: inline-block;
		overflow: hidden;
	}
	
	.fileinput-button input {
		position: absolute;
		right: 0px;
		top: 0px;
		opacity: 0;
		-ms-filter: 'alpha(opacity=0)';
		font-size: 200px;
	}
	
	.maximg {
		max-width: 270px;
		max-height: 270px;
		margin: 5px;
	}
</style>

<script>
	function changepic() {
		var reads = new FileReader();
		f = document.getElementById('titleFile').files[0];
		reads.readAsDataURL(f);
		reads.onload = function(e) {
			document.getElementById('show').src = this.result;
		};
	}
	function check(){
     var Tname=document.getElementById("title").value;
     if(Tname=="") {
			alert("请输入文章主题");
			exit;
		}
     var Ttype=document.getElementById("tips").value.length;
     if(Ttype==0) {
			alert("请输入文章类别");
			exit;
		}
      var Tct=document.getElementById("content").value.length;
     if(Tct==0) {
			alert("请输入文章内容");
			exit;
		}
        var formData=new FormData();
        var img_file=document.getElementById("titleFile");
        var titleFile=img_file.files[0];
        var title=$("#title").val();
        var tips=$("#tips").val();
        var content=$("#content").val();
        formData.append("tips",tips);
        formData.append("title",title);
        formData.append("content",content);
        formData.append("imgGo",titleFile);
        $.ajax({
            url: "/user/createForum",
            type: "post",
            data:formData,
            processData:false,
            contentType:false,
            success: function (data) {
                if (data.status==1){
                    alert(data.msg);
                    window.location.replace("/user/forum");
                }else {
                    alert(data.msg);
                }
            }
        });
	}
</script>