<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="UTF-8">
		<title>登陆系统</title>

		<link th:href="@{/css/mtcolorer.css}"  href="/static/css/mtcolorer.css" rel="stylesheet" type="text/css" media="all" />
		<link  th:href="@{/css/bootstrap.css}"  href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<script   th:src="@{/js/HDYZjquery.min.js}"  type="text/javascript" src="/static/js/HDYZjquery.min.js"></script>
		<script th:src="@{/js/HDYZjq-slideVerify.js}"  type="text/javascript" src="/static/js/HDYZjq-slideVerify.js"></script>
	</head>

	<body>

		<!--文字-->
		<div align="center" style="margin-top: 50px;"><h1>登录 <small>系统</small></h1></div>
		<!--main-->

			<div class="container-fluid" style="width: 300px;margin-top: 30px;">
				<!--用户名文本框-->
				<div class="input-group">
					<span class="input-group-addon"  id="basic-addon1 "><span class=" glyphicon glyphicon-user"></span></span>
					<input  id='uname' type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
				</div>
				<p></p>
				<!--密码文本框-->
				<div class="input-group">
					<span class="input-group-addon"><span class=" glyphicon glyphicon-lock"></span></span>
					<input  type="password" id='upwd' class="form-control" placeholder="Password" >
				</div>

			</div>

			<!--滑动验证-->
			<div class="verify-wrap" id="verify-wrap2" style="margin-top: 10px;"></div>
			<div hidden="hidden"><button id="getState2" type="button"  style="display: inline-block;">获取验证状态</button></div>
			
				
			<!--重置注册忘记按钮-->
			<div align="center" style="margin-top: 10px;">
				<table width="270px">
					<tr align="center">
						<td width="90px" valign="bottom" align="left">
							<button type="button" id="resetBtn2" style="display: inline-block;" class="btn btn-link btn btn-default btn-xs">重置滑动验证</button>
						</td>
						<td width="180px" valign="bottom" align="right">

							<button type="button " class="btn btn-link btn btn-default btn-xs"><a href="/user/register">前往注册</a></button>

							<button type="button " class="btn btn-link btn btn-default btn-xs"><a href="/user/forget">忘记密码</a></button>
						</td>
					</tr>
				</table>
			</div>

		<script>
	function gologin()
	{
		/*var form = document.getElementById('form1');
		form.submit();*/

        $.ajax({
            url:"/user/loginCheck",
            method:"post",
            data:{"uname":$('#uname').val(),"upwd":$('#upwd').val()},
            dataType:"json",
            success:function (data) {
                alert(data.msg);
                if (data.status==0){
                    window.location.replace("/user/index");
                }else {
                    window.location.reload();
				}
            }
        })
	}
</script>
<script type="text/javascript ">

	$(function() {

		var SlideVerifyPlug = window.slideVerifyPlug;

		$("#resetBtn ").on('click', function() {
			slideVerify.resetVerify(); //可以重置 插件 回到初始状态 
		})
		$("#getState ").on('click', function() {
			alert(slideVerify.slideFinishState); //这个可以拿到 当前验证状态  是否完成
		})
		var slideVerify2 = new SlideVerifyPlug('#verify-wrap2', {
			wrapWidth: '270',
			initText: '请拖动滑块',
			sucessText: '马上进入创业基地',
			getSucessState:function(){
				
				window.setTimeout("gologin()",1000);
            }
		});
		$("#resetBtn2 ").on('click', function() {
			slideVerify2.resetVerify();
		})
		$("#getState2 ").on('click', function() {
			alert(slideVerify2.slideFinishState);
		})
	})
</script>
	</body>

</html>

