<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<title>提问</title>
		<link   th:href="@{/css/youcediv.css}"  href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link  th:href="@{/css/bootstrap.css}"   href="/static/css/forum.css" rel="stylesheet" type="text/css" media="all" />
		<script   th:src="@{/js/jquery.js}"  type="text/javascript" src="/static/js/jquery.js"></script>
		<script  th:src="@{/js/bootstrap.js}"   type="text/javascript" src="/static/js/bootstrap.js"></script>
		<link rel="stylesheet" th:href="@{/editorMd/css/editormd.css}" />
		<script th:src="@{/editorMd/editormd.min.js}" type="text/javascript"></script>
		<link rel="stylesheet" th:href="@{/css/chosen/chosen.css}" />
		<script th:src="@{/js/chosen.jquery.js}" type="text/javascript"></script>
		<link th:href="@{/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet">
		<script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script>
	</head>
	<script>
        $(function(){
            $('.chosen-select').chosen({
                no_results_text: "没有找到结果！",//搜索无结果时显示的提示
                search_contains:true,   //关键字模糊搜索。设置为true，只要选项包含搜索词就会显示；设置为false，则要求从选项开头开始匹配
                allow_single_deselect:true, //单选下拉框是否允许取消选择。如果允许，选中选项会有一个x号可以删除选项
                disable_search: false, //禁用搜索。设置为true，则无法搜索选项。
                disable_search_threshold: 0, //当选项少等于于指定个数时禁用搜索。
                inherit_select_classes: false, //是否继承原下拉框的样式类，此处设为继承
                placeholder_text_single: '选择标签', //单选选择框的默认提示信息，当选项为空时会显示。如果原下拉框设置了data-placeholder，会覆盖这里的值。
                width: '400px', //设置chosen下拉框的宽度。即使原下拉框本身设置了宽度，也会被width覆盖。
                max_shown_results: 1000, //下拉框最大显示选项数量
                display_disabled_options: false,
                single_backstroke_delete: false, //false表示按两次删除键才能删除选项，true表示按一次删除键即可删除
                case_sensitive_search: false, //搜索大小写敏感。此处设为不敏感
                group_search: false, //选项组是否可搜。此处搜索不可搜
                include_group_label_in_selected: false //选中选项是否显示选项分组。false不显示，true显示。默认false。
            });
            /*$('.chosen2').chosen({
                search_contains:false,
                enable_split_word_search: true //分词搜索，选项词可通过空格或'[]'分隔。search_contains为false时才能看出效果
            });*/
        });
	</script>
	<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/user/index">Y</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li >
						<a href="/user/index">首页</a>
					</li>
					<li class="active">
						<a href="/user/forum">论坛<span class="sr-only">(current)</span></a>
					</li>
					<li>
						<a href="/user/contacts">标签</a>
					</li>
					<li>
						<a href="/user/jobs">工作机会<span class="badge">New</span></a>
					</li>
				</ul>
				<div class="navbar-form navbar-left">
					<div class="form-group">
						<input type="text" id="topKey" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default" onclick="search1()">Submit</button>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Daily word:Furious activity is no substitute for understanding</a></li>
					<li class="dropdown" th:if="${#strings.isEmpty(session.sessionUserNickname)}">
						<a href="javascript:void(0)" onclick="openLogin()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">登录/注册 </a>
					</li>
					<li class="dropdown" th:if="${not #strings.isEmpty(session.sessionUserNickname)}">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.sessionUserNickname}">个人管理 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>
								<a href="/user/personal">个人中心</a>
							</li>
							<li>
								<a href="/user/changePassword">修改密码</a>
							</li>
							<li>
								<a href="/user/taskList">任务清单</a>
							</li>
							<li>
								<a onclick="goLogout()">注销</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div id="modal-form" class="modal fade" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-6 b-r">
							<h3 class="m-t-none m-b">登录</h3>

							<div class="form-group">
								<label>用户名：</label>
								<input id="userName" type="text" placeholder="请输入用户名" class="form-control">
							</div>
							<div class="form-group">
								<label>密码：</label>
								<input id="userPassword" type="password" placeholder="请输入密码" class="form-control">
							</div>
							<div>
								<button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit" onclick="toLogin()"><strong>登录</strong>
								</button>
								<label>
									<input type="checkbox" class="i-checks">自动登录</label>
							</div>

						</div>
						<div class="col-sm-6">
							<h4>还不是会员？</h4>
							<p>您可以注册一个账户</p>
							<p class="text-center">
								<a href="/user/register"><i class="fa fa-sign-in big-icon"></i></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="jumbotron" style="background-color:#ffffff">
		<div class="container">
			<div class="alert alert-success">
				<p>提问指导：</p>
				<p><img src="../images/cystep1.JPG" width="30px" />尝试总结问题</p>
				<p><img src="../images/cystep2.JPG" width="30px" />描述自己做过哪些尝试（例如:查阅过哪些资料、断点过程中出现哪些意料之外的数据等）</p>
				<p><img src="../images/cystep3.JPG" width="30px" />合适的时候，可以展示一些代码</p>
			</div>
			<div id="my-editormd">
					<textarea style="display:none;"></textarea>
					<!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
					<textarea class="editormd-html-textarea" name="html"></textarea>
			</div>
			<p>
				<input type="button" class="btn btn-primary btn-lg btn"  onclick="testGo()" value="下一步">
			</p>
		</div>
	</div>
	<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" >
		<div class="modal-dialog" role="document">
			<div class="modal-content news-w3l">
				<div class="modal-header" id="userManageModal">
					<button type="button" class="close w3l" data-dismiss="modal">&times;</button>
					<h4 id="modalTitle">问题所属标签</h4>
					<!--newsletter-->
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm" >
							<input id="tagsId" hidden="hidden" value="-1">
							<div class="form-group">
								<div class="alert alert-success">
									请填写问题标题以及对于的关联标签：
									标题应该尽量用简介的语言描述具体的问题。
									为了提高回答效率，请准确选定标签。
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">标题：</label>
								<div class="col-sm-8">
									<input type="text" placeholder="请输入标题" id="forumTitle" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">标签名：</label>
								<div class="col-sm-8">
									<div class="input-group">
										<select  data-placeholder="请选择标签" class="chosen-select" multiple style="width:350px;" tabindex="4">
											<option th:each="tags:${list}" th:value="${tags.id}" th:text="${tags.tagsName}" hassubinfo="true">海外</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button class="btn btn-primary" onclick="addForum()" type="submit">发布</button>
								</div>
							</div>
						</form>
					</div>
					<!--//newsletter-->
				</div>
			</div>
		</div>
	</div>

	<div class="side-bar" >
		<a href="" class="icon-qq">QQ在线
			<div class="qq-tips"><i></i><img style="width:138px;height:138px;" src="../images/code.jpg" alt="QQ"></div>
		</a>
		<a href="" class="icon-chat">微信
			<div class="chat-tips"><i></i><img style="width:138px;height:138px;" src="../images/code1.png" alt="微信"></div>
		</a>
		<a target="_blank" href="https://github.com/wwwwy1" class="icon-blog">github</a>
		<a href="mailto:usx16147220@163.com" class="icon-mail">mail</a>
	</div>

	<nav class="navbar navbar-default navbar-fixed-bottom" id="footer">
		<div class="container">
			<div class="navbar-header" >
				<a style="font-size: 10px;" class="navbar-brand" target="_blank"
				   href="#"> Here is Y tribune  Copy Right @ 2019 </a>
			</div>
		</div>
	</nav>


	</body>

</html>
<script type="text/javascript">
    function search(kw) {
        location.replace("/user/forum?keyWords="+encodeURI(kw));
    }
    function search1() {

        search($('#topKey').val());
    }
    function goLogout() {
        $.ajax({
            url:"/user/logout",
            method:"get",
            dataType:"json",
            success:function (data) {
                debugger;
                if (data.code == 200){
                    swal({
                        title: "注销成功",
                        text: "注销成功",
                        type: "success"
                    },function () {
                        window.location = "/user/index";
                    });
                } else {
                    swal({
                        title: "注销失败",
                        text: "注销失败！",
                        type: "warning"
                    },function () {
                        $("#resetBtn2 ").click();
                        $('#upwd').val('');
                    });
                }
            }
        })
    }
    function toLogin() {
        $.ajax({
            url:"/user/loginCheck",
            method:"post",
            data:{"userName":$('#userName').val(),"userPassword":$('#userPassword').val()},
            dataType:"json",
            success:function (data) {
                if (data.code == 200){
                    swal({
                        title: "登录成功",
                        text: "登录成功",
                        type: "success"
                    },function () {
                        window.location = "/user/index";
                    });
                } else {
                    swal({
                        title: "登录失败",
                        text: "账号或密码错误！",
                        type: "warning"
                    },function () {
                        $("#resetBtn2 ").click();
                        $('#upwd').val('');
                    });
                }
            }
        })
    }
    function openLogin() {
        $('#modal-form').modal();
    }
    function testGo() {
        /*var content = $('.editormd-markdown-textarea').val();
        alert(content);
        var html = $('.editormd-html-textarea').val();
        alert(html);*/
        $('#myModal4').modal();
    }
    function addForum() {
		var md = $('.editormd-markdown-textarea').val();
		var html = $('.editormd-html-textarea').val();
        $.ajax({
            url: "/forum/add",
            data:{"forumTitle":$('#forumTitle').val(),"forumMd":md,"forumContent":html,"forumTips":$('.chosen-select').val().join(",")},
            type: "post",
            dataType: "json",
            success: function (data) {
                if (data.code == 200){
                    swal({
                        title: "提问成功",
                        text: "提问成功",
                        type: "success"
                    },function () {
                        location.href("/forum/get?id="+data.data.id);
                    });
                } else {
                    swal({
                        title: "提问失败",
                        text: "登录异常，请重新登录",
                        type: "warning"
                    },function () {
                        location.href("/user/login");
                    });
                }
            }
        })
    }
    var testEditor;

    $(function () {
        testEditor = editormd("my-editormd", {
            width: "90%",
            height: 640,
            syncScrolling: "single",
            path: "/editorMd/lib/",
            //这个配置在simple.html中并没有，但是为了能够提交表单，使用这个配置可以让构造出来的HTML代码直接在第二个隐藏的textarea域中，方便post提交表单。
            saveHTMLToTextarea: true,

            imageUpload: true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/upload/uploadImage",//注意你后端的上传图片服务地址
            onload: function(){
                this.width("100%");
                this.height(480);
            }
        });
    });
</script>

<script>
    var cylabel = document.getElementById("cyLabel");
    $(document).ready(function() {
        autoFooterHeight();
    })
    // 解决底部自动导航的问题
    function autoFooterHeight() {
        // 获取内容的高度
        var bodyHeight = $("body").height();
        // 获取底部导航的高度
        var navHeight = $(".navbar").height();
        // 获取显示屏的高度
        var iHeight = document.documentElement.clientHeight || document.body.clientHeight;
        // 如果内容的高度大于（窗口的高度 - 导航的高度）,移除属性样式
        if (bodyHeight > (iHeight - navHeight)) {
            $("#footer").removeClass("navbar-fixed-bottom");
        }
    }

</script>