<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="utf-8" />
		<title>注册</title>
		<link   th:href="@{/css/youcediv.css}"  href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link  th:href="@{/css/bootstrap.css}"   href="/static/css/forum.css" rel="stylesheet" type="text/css" media="all" />
		<script   th:src="@{/js/jquery.js}"  type="text/javascript" src="/static/js/jquery.js"></script>
		<script  th:src="@{/js/bootstrap.js}"   type="text/javascript" src="/static/js/bootstrap.js"></script>
		<link  th:href="@{/css/font-awesome.css}"   href="/static/css/forum.css" rel="stylesheet" type="text/css" media="all" />
		<link  th:href="@{/css/style.css}"   href="/static/css/forum.css" rel="stylesheet" type="text/css" media="all" />
		<link th:href="@{/css/font-awesome.css?v=4.4.0}" rel="stylesheet">
		<link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet">
		<link th:href="@{/css/plugins/steps/jquery.steps.css}" rel="stylesheet">
		<link th:href="@{/css/animate.css}" rel="stylesheet">
        <link th:href="@{/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet">

        <script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script>
	</head>

	<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/front/index.html">Y</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="#">首页 <span class="sr-only">(current)</span></a>
					</li>
					<li>
						<a href="forum.html">论坛</a>
					</li>
					<li>
						<a href="#">行程规划<span class="badge">New</span></a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">创业文案分享区 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>
								<a href="#">成功经历分享</a>
							</li>
							<li>
								<a href="#">Another action</a>
							</li>
							<li>
								<a href="#">Something else here</a>
							</li>
							<li role="separator" class="divider"></li>
							<li>
								<a href="#">Separated link</a>
							</li>
							<li role="separator" class="divider"></li>
							<li>
								<a href="#">One more separated link</a>
							</li>
						</ul>
					</li>
				</ul>
				<form class="navbar-form navbar-left">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Daily word:Furious activity is no substitute for understanding</a></li>
					<li>
						<a href="#">收藏夹</a>
					</li>

					<li class="dropdown">
						<a href="javascript:void(0)" onclick="openLogin()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">登录/注册 </a>
					</li>

					<!--<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人管理 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>
								<a href="#">信息修改</a>
							</li>
							<li>
								<a href="#">Another action</a>
							</li>
							<li>
								<a href="#">Something else here</a>
							</li>
							<li role="separator" class="divider"></li>
							<li>
								<a href="#">系统设置</a>
							</li>
						</ul>
					</li>-->
				</ul>
			</div>
		</div>
	</nav>
	<div id="modal-form" class="modal fade" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-6 b-r">
							<h3 class="m-t-none m-b">登录</h3>
							<form role="form">
								<div class="form-group">
									<label>用户名：</label>
									<input type="email" placeholder="请输入用户名" class="form-control">
								</div>
								<div class="form-group">
									<label>密码：</label>
									<input type="password" placeholder="请输入密码" class="form-control">
								</div>
								<div>
									<button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>登录</strong>
									</button>
									<label>
										<input type="checkbox" class="i-checks">自动登录</label>
								</div>
							</form>
						</div>
						<div class="col-sm-6">
							<h4>还不是会员？</h4>
							<p>您可以注册一个账户</p>
							<p class="text-center">
								<a href="form_basic.html"><i class="fa fa-sign-in big-icon"></i></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="jumbotron"  style="background-color:#ffffff">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="ibox">
						<div class="ibox-content">
						<h2>
							注册向导
						</h2>
						<p>
							请通过以下向导完成注册
						</p>

						<form id="form" action="form_wizard.html#" class="wizard-big">
							<h1>账户</h1>
							<fieldset>
								<h2>账户信息</h2>
								<div class="row">
									<div class="col-sm-8">
										<div class="form-group">
											<label>用户名 *</label>
											<input id="userName" name="userName" type="text" class="form-control required">
										</div>
										<div class="form-group">
											<label>密码 *</label>
											<input id="password" name="password" type="text" class="form-control required">
										</div>
										<div class="form-group">
											<label>确认密码 *</label>
											<input id="confirm" name="confirm" type="text" class="form-control required">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="text-center">
											<div style="margin-top: 20px">
												<i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
											</div>
										</div>
									</div>
								</div>

							</fieldset>
							<h1>个人资料</h1>
							<fieldset>
								<h2>个人资料信息</h2>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label>昵称 *</label>
											<input id="userNickname" name="userNickname" type="text" class="form-control required">
										</div>
                                        <div class="form-group">
                                            <label>座右铭</label>
                                            <input id="zym" name="zym" type="text" class="form-control">
                                        </div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label>Email *</label>
											<input id="userEmail" name="userEmail" type="text" class="form-control required email">
										</div>
										<div class="form-group">
											<label>地址</label>
											<input id="address" name="address" type="text" class="form-control">
										</div>
									</div>
								</div>
							</fieldset>

							<h1>用户协议</h1>
							<fieldset>
								<div class="text-center" style="text-align: left">
									<h2>用户协议</h2>1. 本论坛对任何直接、间接、偶然、特殊及继起的损害不负责任，不予赔偿。这些损害来自：网络故障；不正当下载、使用论坛服务内容；在网上购买商品或类似服务；在网上进行交易，非法使用服务等。<br/>
                                        2. 会员在使用潇湘晨报网所提供的服务时，如遭受任何人身或财务的损失、损害或伤害，不论原因如何，本网站均不负责任。由于用户将个人密码告知他人或与他人共享注册帐户，由此导致的任何个人资料泄露，本网站不负任何责任。<br/>
                                        3. 会员须对其自身在使用本论坛所提供的服务时的一切行为、行动（不论是否故意）负全部责任。<br/>
                                        4. 用户应对自己在论坛上发表的内容负全部责任，并承诺提交的姓名、身份证号码、常住地址、联系方式等个人资料真实可靠。<br/>
                                        5. 对于因服务器的死机、网络的故障、数据库故障、软件升级等问题造成的服务中断和对会员个人数据及资料造成的损失，本网不负责任，亦不予补偿。<br/>
                                        6. 当政府司法机关依照法定程序要求本网站披露个人资料时，我们将根据执法单位之要求或为公共安全之目的提供个人资料。在此情况下之任何披露，本网站均得免责。<br/>
								</div>
							</fieldset>

							<h1>完成</h1>
							<fieldset><div style="text-align: center">
								<h2>同意条款</h2><p></p><p></p>
                               <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required">
								<label for="acceptTerms">我同意注册条款</label></div>
							</fieldset>
						</form>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="side-bar" >
		<a href="" class="icon-qq">QQ在线咨S询
			<div class="qq-tips"><i></i><img style="width:138px;height:138px;" src="../images/code.jpg" alt="QQ订阅号"></div>
		</a>
		<a href="" class="icon-chat">微信
			<div class="chat-tips"><i></i><img style="width:138px;height:138px;" src="../images/code.jpg" alt="微信订阅号"></div>
		</a>
		<a target="_blank" href="https://weibo.com/" class="icon-blog">微博</a>
		<a href="mailto:2500233233@qq.com" class="icon-mail">mail</a>
	</div>

	<nav class="navbar navbar-default navbar-fixed-bottom" id="footer">
		<div class="container">
			<div class="navbar-header" >
				<a style="font-size: 10px;" class="navbar-brand" target="_blank"
				   href="#"> Here is Y tribune  Copy Right @ 2019 </a>
			</div>
		</div>
	</nav>


	</body>

</html>
<script>
    $(document).ready(function() {
        autoFooterHeight();
    })
    // 解决底部自动导航的问题
    function autoFooterHeight() {
        // 获取内容的高度
        var bodyHeight = $("body").height();
        // 获取底部导航的高度
        var navHeight = $(".navbar").height();
        // 获取显示屏的高度
        var iHeight = document.documentElement.clientHeight || document.body.clientHeight;
        // 如果内容的高度大于（窗口的高度 - 导航的高度）,移除属性样式
        if (bodyHeight > (iHeight - navHeight)) {
            //$("#footer").removeClass("navbar-fixed-bottom");
        }
    }
	function openLogin() {
        $('#modal-form').modal();
    }
</script>


<!-- 自定义js -->
<script th:src="@{/js/content.js?v=1.0.0}"></script>


<!-- Steps -->
<script th:src="@{/js/plugins/staps/jquery.steps.min.js}"></script>

<!-- Jquery Validate -->
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>


<script>
    $(document).ready(function () {
        var icon = "<i class='fa fa-times-circle'></i> ";
        $("#wizard").steps();
        $("#form").steps({
            bodyTag: "fieldset",
            onStepChanging: function (event, currentIndex, newIndex) {
                // Always allow going backward even if the current step contains invalid fields!
                if (currentIndex > newIndex) {
                    return true;
                }

                // Forbid suppressing "Warning" step if the user is to young
                if (newIndex === 3 && Number($("#age").val()) < 18) {
                    return false;
                }

                var form = $(this);

                // Clean up if user went backward before
                if (currentIndex < newIndex) {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                // Disable validation on fields that are disabled or hidden.
                form.validate().settings.ignore = ":disabled,:hidden";

                // Start validation; Prevent going forward if false
                return form.valid();
            },
            onStepChanged: function (event, currentIndex, priorIndex) {
                // Suppress (skip) "Warning" step if the user is old enough.
                if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                    $(this).steps("next");
                }

                // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                if (currentIndex === 2 && priorIndex === 3) {
                    $(this).steps("previous");
                }
            },
            onFinishing: function (event, currentIndex) {
                var form = $(this);

                // Disable validation on fields that are disabled.
                // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                form.validate().settings.ignore = ":disabled";

                // Start validation; Prevent form submission if false
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                var form = $(this);

                // Submit form input
                form.submit();
            }
        }).validate({
            errorPlacement: function (error, element) {
                element.before(error);
            },
            rules: {
                userName: {
                    required: true,
                    minlength: 2,
                    remote:{
                        url: '/user/checkUserName',
                        type:'post',
                        async : false,
                        data:{
                            userName:function(){
                                return $("#userName").val();
                            }
                        }
                    }
                },
                userEmail:{
                    remote:{
                        url: '/user/checkUserEmail',
                        type:'post',
                        async : false,
                        data:{
                            userEmail:function(){
                                return $("#userEmail").val();
                            }
                        }
                    }
                },
                confirm: {
                    equalTo: "#password"
                },

            }, messages: {
                userName: {
                    required: icon + "请输入您的用户名",
                    minlength: icon + "用户名必须两个字符以上",
                    remote: icon + "用户名不能重复"
                },
                userEmail:{
                    remote: icon + "邮箱不能重复"
                }
            },submitHandler: function (form) {
                $.ajax({
                    url: "/user/add",
                    data:{"userName":$("#userName").val(),"userNickname":$("#userNickname").val(),
                        "userPassword":$("#password").val(),"userEmail":$("#userEmail").val()},
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        if (data.code == 200){
                            swal({
                                title: "注册成功",
                                text: "注册成功,请前往登录页面",
                                type: "success"
                            },function () {
                                location.href("/user/login");
                            });
                        } else {
                            swal({
                                title: "添加失败",
                                text: data.msg,
                                type: "warning"
                            },function () {
                                location.href("/user/register");
                            });
                        }
                    }
                })
            }
        });
    });
</script>