<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="utf-8" />
		<title>创业基地</title>
		<link    th:href="@{/css/Fyoucediv.css}"   href="/static/css/Fyoucediv.css" rel="stylesheet" type="text/css" media="all" />
		<link  th:href="@{/css/forum.css}"   href="/static/css/forum.css" rel="stylesheet" type="text/css" media="all" />
		<link   th:href="@{/css/bootstrap.css}"  href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<script   th:src="@{/js/jquery.js}"  type="text/javascript" src="/static/js/jquery.js"></script>
		<script  th:src="@{/js/bootstrap.js}"   type="text/javascript" src="/static/js/bootstrap.js"></script>
	</head>

	<body>
		<a name="FtopMd"></a>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
					<a class="navbar-brand" href="/user/index">理想之行</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="/user/forum">交流区</a>
						</li>
						<li>
							<a href="#">付费咨询区<span class="badge">New</span></a>
						</li>
					</ul>
					<div class="navbar-form navbar-left">
						<div class="form-group">
							<input type="text" id="search1" class="form-control" placeholder="Search">
						</div>
						<button type="submit" onclick="search1()"  class="btn btn-default">Submit</button>
					</div>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">收藏夹</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人管理 <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">信息修改</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li role="separator" class="divider"></li>
								<li>
									<a href="#">系统设置</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav><input type="hidden" id="searchKeywords" th:value="${data}">
		<a name="FsearchMd"></a>
		<div class="jumbotron">
			<div class="container">
				<div class="jumbotron">
					<h1 align="center">Have a Question?</h1>
					<p align="right">这里有你需要的答案</p>
					<div class="input-group container">
						<input id="Fsearch" style="width: 70%; height: 50px;border-radius: 5px;" type="text" class="form-control" placeholder="Search for...">
						<button class="btn btn-default" onclick="search2()" type="button" style="height: 50px;border-radius: 5px;width: 80px;">Go!</button>
					</div>
				</div>
			</div>
		</div>
		<div align="left" class="container" style="padding-top: 20px;">
			<div class="row ">
				<div class="col-md-8">
					<div>
						<article class="type-post format-title  hentry "  id="userlist">
						</article>
						<div id="result">sdfsdf</div>
					</div>
				</div>
				<div class="col-md-4">

				</div>
			</div>
			<div class="side-bar">
				<a href="/user/forumLvMsg" class="icon-bj">编辑</a>
				<a href="#FsearchMd" class="icon-cz">查找</a>
				<a href="#FtopMd" class="icon-top">返回顶部</a>
			</div></div>
	</body>
	<script type="text/javascript" >
		$(function () {
			goPaging(1);
        })
        function goPaging(pageNum) {
            $.ajax({
                url:"/user/goSearchPaging",
                type:"get",
				data:{"keywords":$("#searchKeywords").val(),"pageNum":pageNum},
                dataType:"json",
                success:function(data){
                    var tr='';
                    $.each(data.data,function(key,val){

                        tr+= '<h3 class="post-title"><a href="forumDeatils/'+val.cid+'" >'+val.title+'</a></h3>\n' +
                            '\t\t\t\t\t\t\t<div class="post-meta">\n' +
                            '\t\t\t\t\t\t\t\t<span class="date" >'+val.c+'</span>\n' +
                            '\t\t\t\t\t\t\t\t<span class="category" ><a href="#" >'+val.tips+'</a></span>\n' +
                            '\t\t\t\t\t\t\t\t<span class="comments"><a href="#">'+val.count+'</a></span>\n' +
                            '\t\t\t\t\t\t\t</div>\n' +
                            '\t\t\t\t\t\t\t<p > '+val.content+'' +
                            '\t\t\t\t\t\t\t</p>';
                    });
                    var pages= data.pages;/**/
                    var paging='<li class="page-item" onclick="goPaging('+1+')"><a  class="page-link" aria-label="Previous"><span aria-hidden="true">«</span></a></li>';
                    for (var i = 1; i <=pages ; i++) {
                        if (data.pageNum==i){
                            paging+='<li class="page-item active"><a class="page-link" >'+i+'</a></li>';}
                        else{ paging+='<li onclick="goPaging('+i+')" class="page-item"><a class="page-link" >'+i+'</a></li>';}
                    }/*onclick="'+goPaging(pages)+'"*/
                    paging+='<li class="page-item" onclick="goPaging('+pages+')"><a  class="page-link" aria-label="Next"><span aria-hidden="true">»</span></a></li>';
                    //  alert(tr);
                    $('#userlist').html(tr);
                    $("#result").html('<div class="demo" style="min-height: 300px;">\n' +
                        '            <div class="container">\n' +
                        '                <div class="row pad-15">\n' +
                        '                    <div class="col-md-12">\n' +
                        '                        <nav class="pagination-outer" aria-label="Page navigation">\n' +
                        '                            <ul class="pagination">\n' +
                        paging+
                        '                            </ul>\n' +
                        '                        </nav>\n' +
                        '                    </div>\n' +
                        '                </div>\n' +
                        '            </div>\n' +
                        '        </div>');
                }
            });
        }
	function search(kw) {
        location.replace("/user/search?keywords="+kw);
    }
        function search1() {

           search($('#search1').val());
        }
        function search2() {
            search($('#Fsearch').val());

        }


	</script>
</html>