<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8" />
	<link th:href="@{/css/bootstrap.css}"    rel="stylesheet" type="text/css" media="all" />
	<link th:href="@{/css/bootstrap.min.css}"    rel="stylesheet" type="text/css" media="all" />
    <title>创业基地</title>
</head>

<body>
    <table width="1550" border="0" cellspacing="0" cellpadding="0">
            <tr height="80px;" bgcolor=#4383EF>
                <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr style="color: white;" align="center">
                                <td width=450px;><img src="/images/img/logo.PNG" width="337" height="57" /></td>
                                <td valign="bottom">
                                    <font size=+2><a href="/user/cyxt">创业学堂</a></font>
                                </td>
                                <td valign="bottom">
                                    <font size=+2><a href="/user/forum">论坛交流</a></font>
                                </td>
                                <td valign="bottom">
                                    <font size=+2><a href="/user/probability">概率分析</a></font>
                                </td>
                                <td valign="bottom">
                                    <font size=+2><a href="/user/createTeam">实训基地</a></font>
                                </td>
                                <td valign="bottom">
                                    <font size=+2><a href="/user/zsjm">招商加盟</a></font>
                                </td>
                            </tr>
                    </table>
                </td>
            </tr>
    </table>

        <div style="top:100px;left:200px;position:absolute;">
            <table width="500px" border="0px" >
                <tr><td><h1>找资源</h1></td></tr>
				<tr><td style="line-height:30px">资源：龙游发稿，江山猕猴桃</td></tr>
				<tr><td style="line-height:30px">地址：中国浙江省衢州市江山县小猕村12号</td></tr>
				<tr><td style="line-height:30px">联系方式：18857574123</td></tr>
				<tr><td style="line-height:30px">联系人：汤先生</td></tr>
				<tr><td style="line-height:50px" align="right" valgin="button"><a href="#">【了解更多】</a></td></tr>
				<tr><td>唯美召香加盟 整店输出 客源不愁 ￥21-50万</td></tr>
				<tr><td align="right"><a href="#">【了解更多】</a></td></tr>
				<tr><td>茶千岁加盟 小本创业 财富担当 ￥10万以下</td></tr>
				<tr><td align="right"><a href="#">【了解更多】</a></td></tr>
				<tr><td>雪乐山滑雪培训连锁机构加盟 四维场景 四季滑雪 ￥50-100万</td></tr>
				<tr><td align="right"><a href="#">【了解更多】</a></td></tr>
				<tr><td>绿之源家电清洗加盟 家政保洁 实力品牌 ￥10万以下</td></tr>
				<tr><td align="right"><a href="#">【了解更多】</a></td></tr>
				<tr><td>唯美召香加盟 整店输出 客源不愁 ￥21-50万</td></tr>
				<tr><td align="right"><a href="#">【了解更多】</a></td></tr>
				<tr><td>茶千岁加盟 小本创业 财富担当 ￥10万以下</td></tr>
				<tr><td align="right"><a href="#">【了解更多】</a></td></tr>
				<tr><td>雪乐山滑雪培训连锁机构加盟 四维场景 四季滑雪 ￥50-100万</td></tr>
				<tr><td align="right"><a href="#">【了解更多】</a></td></tr>
				<tr><td>绿之源家电清洗加盟 家政保洁 实力品牌 ￥10万以下</td></tr>
				<tr><td align="right"><a href="#">【了解更多】</a></td></tr>
            </table>
			<div style="top:-541px;left:333px;position:relative;"><img src="/images/img/zsjm-zz1.jpg" width="160px" height="120px"></div>
        </div>


        <div style="top:100px;left:800px;position:absolute;">
            <table width="500px;" border="0px">
                <tr><td><h1>找伙伴</h1></td></tr>
				<tr><td style="line-height:30px">寻从事5年以前的PHP编程人员，主要负责网站制作和培养学徒。</td></tr>
				<tr><td style="line-height:30px" align="right">——<a>临安邵文科技有限公司</a></td></tr>
				<tr><td style="line-height:30px">寻从事5年以前的PHP编程人员，主要负责网站制作和培养学徒。</td></tr>
				<tr><td style="line-height:30px" align="right">——<a>临安邵文科技有限公司</a></td></tr>
				<tr><td style="line-height:30px">寻找阿里巴巴运营专员，主要工作内容发布信息：通过论坛、贴吧、行业门户网站、博客等方式发布公司信息和链接。</td></tr>
				<tr><td style="line-height:30px" align="right">——<a>杭州高创有限公司</a></td></tr>
				<tr><td style="line-height:30px">寻找网络管理员（聘网络推广员），主要工作内容熟悉问答平台、分类信息、论坛、微博、博客等推广模式.</td></tr>
				<tr><td  style="line-height:30px" align="right">——<a>宋你有限公司</a></td></tr>
				<tr><td style="line-height:30px">寻从事5年以前的PHP编程人员，主要负责网站制作和培养学徒。</td></tr>
				<tr><td style="line-height:30px" align="right">——<a>临安邵文科技有限公司</a></td></tr>
				<tr><td style="line-height:30px">寻找阿里巴巴运营专员，主要工作内容发布信息：通过论坛、贴吧、行业门户网站、博客等方式发布公司信息和链接。</td></tr>
				<tr><td style="line-height:30px" align="right">——<a>杭州高创有限公司</a></td></tr>
				<tr><td style="line-height:30px">寻找网络管理员（聘网络推广员），主要工作内容熟悉问答平台、分类信息、论坛、微博、博客等推广模式.</td></tr>
				<tr><td  style="line-height:30px" align="right">——<a>宋你有限公司</a></td></tr>
				<tr><td style="line-height:30px">寻从事5年以前的PHP编程人员，主要负责网站制作和培养学徒。</td></tr>
				<tr><td style="line-height:30px" align="right">——<a>临安邵文科技有限公司</a></td></tr>
				
            </table>
        </div>

		<div style="top:100px;left:20px;position:absolute;"><img src="/images/img/zsjm-gg1.jpg" width="150px" height="600px"></div>
 		<div style="top:100px;left:1350px;position:absolute;"><img src="/images/img/zsjm-gg2.jpg" width="150px" height="600px"></div>
		<div style="top:720px;left:1350px;position:fixed;" ><button style="width: 150px" class="btn-success">申请加盟</button></div>
</body>
<style>
    a:link {
        text-decoration: none;
        color: gray
    }

    a:active {
        text-decoration: blink
    }

    a:hover {
        text-decoration: none;
        color: red
    }

    a:visited {
        text-decoration: none;
        color: white
    }
</style>
</html>